:root {
    --white: #fff;
    --color1: #354E8C;
    --color2: #697E9A;
    --black: #404040;

    --h1size: 6rem;
    --body: 16px;
    --small: 12px;
    --extrasmall: 10px;

    --bannerScrollDuration: 40s;

    @media only screen and (max-width: 767px) {
        --h1size: 3rem;
        --body: 14px;
        --small: 10px;
        --extrasmall: 8px;
    }
}